@font-face {
    font-family: "FuseV";
    src: url(../fonts/FuseV.2Display-Black.otf);
    font-weight: 800;
}

@font-face {
    font-family: "FuseV";
    src: url(../fonts/FuseV.2Display-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "FuseV";
    src: url(../fonts/FuseV.2Display-Book.otf);
    font-weight: 500;
}

@font-face {
    font-family: "FuseV";
    src: url(../fonts/FuseV.2Display-Regular.otf);
    font-weight: 600;
}

body {
    font-family: 'FuseV';
    font-weight: 500;
    color: #193b44;
}

.gallery {
    display: none;
}

.numbers {
    display: none;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule__title {
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.schedule__description {
    width: 230px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
}

.schedule__days {
    width: 230px;
    border: 1px solid #30cec2;
    border-radius: 5px;
    height: 140px;
    margin-bottom: 30px;
}

.days__day1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    background-color: #30cec2;
    width: 130px;
    height: 50%;
    margin: 0;
}

.days__day2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
    width: 130px;
    height: 50%;
    margin: 0;
}

.day1__title {
    font-weight: 700;
}

.day2__title {
    color: #30cec2;
    font-weight: 700;
}

.day__subtitle {
    font-size: 12px;
}

.schedule__day {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    width: 215px;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0;
}

.day__header {
    display: flex;
    align-items: center;
    width: 190px;
    margin: 10px 0;
}

.day__time {
    letter-spacing: 0px;
    margin: 0 10px;
}

.day__title {
    font-size: 22px;
    line-height: 30px;
}

.day__type--dev {
    font-size: 12px;
    font-weight: 600;
    background-color: #a2d29f;
    color:white;
    padding: 2px 7px;
    letter-spacing: 0.5px;
}

.day__type--tech {
    font-size: 12px;
    font-weight: 600;
    background-color: #203c44;
    color:white;
    padding: 2px 7px;
    letter-spacing: 0.5px;
}

.day__type--design {
    font-size: 12px;
    font-weight: 600;
    background-color: #e25e5f;
    color:white;
    padding: 2px 7px;
}

.day__description {
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;
    line-height: 25px;
}

.schedule__subtitle {
    font-size: 23px;
    font-weight: 700;
    color: #30cec2;
    margin-right: 100px;
    margin: 20px 100px 10px 0;
}

.no-border {
    border: transparent;
}

.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
}

.sponsors__general {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors__gold {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.gold__element {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.sponsors__supported-by {
    width: 200px;
    margin-right: 100px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.sponsors__media, .sponsors__organisers {
    display:flex;
    flex-direction: column;
    align-items: center;   
}

.sponsors__friends {
    width: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors__image {
    width: 240px;
}

.sponsors__logo {
    width: 180px;
    height: 100px;
}

.sponsors__image--small {
    width: 170px;
}

.sponsors__title, .newsletter__title {
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 45px;
    width: 200px;
    text-align: center;
}

.sponsors__main-image {
    width: 250px;
}

.sponsors__main-description {
    width: 240px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
}

.sponsors__title--blue, .register__title, .contact__title {
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 45px;
    width: 200px;
    text-align: center;
    color: #30cec2;
    margin-bottom: 0;
}

.sponsors__logo--gold {
    width: 200px;
}

.sponsors__description {
    width: 240px;
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 30px;
}

.fs42 {
    font-size: 42px;
}

.sponsors__silver, .sponsors__bronze {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 240px;
}

.sponsors__silver-title, .sponsors__bronze-title {
    margin: 0;
}

.footer__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    width: 320px;
    z-index: -1;
}

.newsletter__body {
    width: 240px;
    text-align: center;
    font-weight: 300;
    margin: 20px 0;
}

.newsletter__apply {
    display: flex;
    width: 220px;
    height: 50px;
    margin-top: 10px;
}

.newsletter__input {
    background-color: #f2f2f2;
    border-radius: 5px;
    border: transparent;
    padding: 10px;
    font-size: 16px;
    width: 95px;
}

.newsletter__button {
    width: 125px;
    background-color: #1a3b43;
    border-radius: 5px;
    border: transparent;
    font-weight: 800;
    color: white;
    font-size: 14px;
}

.footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    overflow: hidden;
}

.swap__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
    padding-top: 70px;
}

.footer__vr-guy {
    width: 250px;
    height: 305px;
    position: absolute;
    z-index: 1;
    top: 35px;
    right: -55px;
    object-fit: cover;
}

.footer__pattern {
    background-image: url(../images/visual--holder.png);
    background-position: center;
    background-size: 600px;
    height: 270px;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    z-index: -2;
}

.footer__register {
    z-index: 2;
    margin-bottom: 30px;
    padding-left: 30px;
}

.register__body {
    color: white;
    z-index: 2;
}

.register__title {
    text-align: left;
}

.register__button, .contact__button {
    color:white;
    background-color: #30cec2;
    border: transparent;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    margin-top: 15px;
}

.footer__contact {
    width: 240px;
    background-color: white;
    padding: 10px 40px;
    margin-top: 100px;
}

footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    margin-top: 50px;
}

.footer__large {
    font-size: 20px;
}

.footer__small {
    font-size: 12px;
}

@media screen and (min-width: 321px){
    
    .schedule__days {
        display: flex;
        height: 70px;
    }

    .days__day1, .days__day2 {
        width: 50%;
        height: 100%;
    }

    .footer__newsletter {
        width: 340px;
    }

    .footer__contact {
        width: 280px;
    }

    .contact__title {
        text-align: left;
    }

    .contact__body {
        width: 210px;
    }

    .sponsors__title--blue {
        width: 250px;
    }
}

@media screen and (min-width: 376px){
    
    .footer__newsletter {
        width: 400px;
    }

    .footer__pattern {
        width: 420px;
    }

    .footer__contact {
        width: 250px;
        padding: 10px 100px;
    }

    .footer__register {
        margin-right: 120px;
    }

    .register__body {
        width: 200px;
    }

    footer {
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 765px){

    .schedule__description {
        width: 600px;
    }

    .schedule__day {
        width: 688px;
    }

    .schedule__subtitle {
        margin-right: 0;
        width: 650px;
        text-align: left;
    }

    .sponsors__supported-by {
        width: 300px;
        margin-right: 400px;
    }

    .sponsors__image--large {
        width: 700px !important;
    }

    .sponsors__main-description {
        width: 700px;
    }

    .sponsors__title--blue {
        width: 500px;
    }

    .sponsors__description {
        width: 700px;
    }

    .sponsors__image {
        width: 400px;
    }

    .sponsors__logo {
        width: 240px;
    }

    .sponsors__silver {
        width: 480px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sponsors__bronze  {
        width: 720px;
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sponsors__organisers, .sponsors__media {
        display: flex;
        flex-direction: row;
    }

    .sponsors__friends {
        width: 610px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sponsors__image--small {
        height: 100px;
    }

    .footer__newsletter {
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .newsletter__body {
        width: 500px;
        font-size: 18px;
    }

    .newsletter__apply {
        width: 500px;
    }

    .newsletter__input {
        width: 400px;
        padding-right: 100px;
    }

    .newsletter__button {
        width: 150px;
    }

    .swap__container {
        flex-direction: row-reverse;
    }

    .footer__pattern {
        height: 350px;
        border-radius: 30px;
        margin-bottom: -20px;
    }

    .footer__vr-guy {
        right: -20px;
        height: 390px;
        top: 3px;
        width: auto;
    }

    .footer__contact {
        width: 200px;
        margin-right: 50px;
    }

    .footer__register {
        margin-right: 150px;
    }
    
    footer {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 100px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 1000px){

    .swap__container {
        justify-content: space-between;
        width: 1000px;
        align-self: flex-end;
    }

    .footer__pattern {
        width: 500px;
        background-size: 800px;
    }

    .sponsors__title--blue {
        width: 700px;
    }

    .sponsors__silver {
        width: 720px;
        justify-content: center;
    }

    .sponsors__bronze {
        height: 100px;
    }

    .sponsors__bronze .sponsors__logo{
        width: 170px;
        height: 80px;
    }

    .sponsors__friends {
        width: 960px;
    }

    footer {
        width: 800px;
        display: flex;
        justify-content: space-between;
    }

    .footer__register {
        margin-right: 250px;
    }

    .register__body{
        margin: 20px 0;
    }

    .footer__vr-guy{
        right: -60px;
    }
}

@media screen and (min-width: 1400px) {

    .schedule__title {
        font-size: 52px;
    }

    .schedule__day {
        width: 900px;
    }

    .gallery {
        width: 1400px;
        display: flex;
        flex-direction: column;
        margin-left: 33px;
        margin-top: 100px;
        overflow: hidden;
    }

    .gallery__element {
        position: absolute;
        width: 450px;
        margin-left: -130px;
        margin-top: -20px;
    }

    .gallery__caption {
        position: absolute;
        font-size: 45px ;
        font-weight: 800;
        margin-top: 220px ;
        margin-left: 0px;
        color: white ;
        width: 300px ;
        text-align: left ;
    }

    .caption__year{
        color: #30cec2;
    }

    .gallery__first-row {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: row;  
    }

    .gallery__first-row .gallery__image {
        width: 25%; 
        object-fit: cover;
    }

    .gallery__second-row {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: row;
    }

    .gallery__second-row .gallery__image {
        width: 37.5%;
        object-fit: cover; 
    }

    .numbers {
        display: flex;
        height: 300px;
        margin-top: 30px;
        justify-content: space-between;
    }

    .numbers__element {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }
    
    .element__number {
        font-size: 180px;
        font-weight: 900;
        color: #d8d8d8;
    }
    
    .element__caption {
        font-size: 50px;
        color: #30cec2;
        margin: 0;
        margin-top: 0px;
        width: 400px;
        text-align: center;
        font-weight: 900;
    }

    .sponsors__general {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 1100px;
        height: 850px;
    }

    .sponsors__supported-by {
        width: 500px;
        margin: 0;
    }

    .sponsors__title {
        font-size: 52px;
        width: 400px;
        text-align: left;
        margin: 0;
        margin-bottom: 50px;
    }

    .sponsors__main-description {
        width: 380px;
        margin: 0;
    }

    .sponsors__image--large {
        width: 450px !important;
        margin:  50px 0 150px 0;
    }

    .sponsors__main-image {
        width: 300px;
        margin: 0 100px 50px 0;
    }

    .sponsors__gold {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 1400px;
    }

    .gold__element {
        width: 20%;
        margin: 0 50px;
    }
    
    .sponsors__description {
        width: 300px;
        height: 350px;
    }

    .sponsors__image {
        width: 300px;
    }

    .sponsors__silver {
        width: 1000px;
    }

    .sponsors__friends {
        width: 1100px;
    }

    .swap__container{
        width: 100%;
    }

    .footer__pattern {
        width: 720px;
    }

    .register__body{
        margin-right: 200px;
    }

    .footer__vr-guy {
        width: 300px;
        margin-left: 200px;
    }

    .footer__contact{
        align-self: flex-start;
        margin-left: 200px;
        margin-top: -25px;
    }

    .contact__body{
        line-height: 33px;
        font-size: 20px;
        width: 300px;
        margin: 20px 0;
    }

    .newsletter__title {
        width: 500px;
        font-size: 52px;
    }

    .sponsors__image--small {
        height: 80px;
    }

    .sponsors__title--blue {
        margin-top: 50px;
    }

    .sponsors__gold-title{
        font-size: 52px;
        margin-top: 0px;
    }
}

@keyframes rainbow {
    0%   {color: red;}
    17%  {color: orange}
    34%  {color: yellow;}
    50%  {color: green;}
    67%  {color: blue;}
    84%  {color: purple;}
    100% {color: red;}
}
  
.header-text--blue {
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes hurts_my_eyes {
    10%, 30%, 50%, 70%, 90% {transform: translate(-2px, 0);}
    0%, 20%, 40%, 60%, 80%, 100% {transform: translate(2px, 0);}
}

.schedule__day {
    animation-name: hurts_my_eyes;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
}

@keyframes spin {
    10% {transform: rotate(36deg);}
    20% {transform: rotate(72deg);}
    30% {transform: rotate(108deg);}
    40% {transform: rotate(144deg);}
    50% {transform: rotate(180deg);}
    60% {transform: rotate(216deg);}
    70% {transform: rotate(252deg);}
    80% {transform: rotate(288deg);}
    90% {transform: rotate(324deg);}
    100% {transform: rotate(360deg);}
}

.sponsors__image, .sponsors__image--large, .sponsors__image--small {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}